

<div id="borde">
</div>

<%= link_to "rigth", :controller => "calculator", :action => "right" %>

<%= link_to "left", :controller => "calculator", :action => :left %>

<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <%= form_tag(controller: "calculator", action:"right", method: "post") do %>
      <li><a class="btn-floating red"><i class="material-icons"><%= submit_tag("right") %>keyboard_arrow_left</i></a></li>
    <% end %>
    <%= form_tag(controller: "calculator", action:"left", method: "post") do %>
      <li><a  class="btn-floating yellow darken-1"><i class="material-icons"><%= submit_tag("left") %>keyboard_arrow_right</i> </a></li>
    <% end %>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>



