<script type="text/javascript">
    $(document).ready(function(){
        $(".button-collapse").sideNav();
    });
</script>


<!--nav var fixed  -->
<div class="navbar-fixed ">
  <nav>
    <div class="nav-wrapper blue">
      <a href="#" data-activates="slide-out" class=" button-collapse show-on-large"><i class="material-icons">menu</i></a>
      <a class="brand-logo left" style="position: relative">Home</a>
      <ul class="right hide-on-med-and-down">
        <!--log out  and log in    -->
        <% if student_signed_in? %>
            <li>
              <%= link_to('Logout', destroy_student_session_path, :method => :delete) %>
            </li>
        <% else %>
            <li>
              <%= link_to('Login', root_path)  %>
            </li>
        <% end %>
        <!--end log out and log in   -->
      </ul>
    </div>
  </nav>
</div>
<!--end nav var fixed  -->



<!--side nav  -->
<ul id="slide-out" class=" side-nav" >
  <li>
    <div class="userView">
      <div class="background blue">
        <!--<img src="<%= asset_path 'office.jpg' %>"  > -->
      </div>
      <div class="row">
        <div class="col offset-s4">
          <img class="circle " src=" <%=  current_student.get_base64_image %> " >
        </div>
      </div>
      <span class="white-text name center-align"><%=current_student.user_name%></span>
      <span class="white-text name center-align" ><%=current_student.email%></span>
    </div>
  </li>
  <li>
    <%= link_to('Profile') %>
  </li>
  <li><div class="divider"></div></li>
  <li>
    <%= link_to('Sandbox') %>
  </li>
  <li><div class="divider"></div></li>
  <!--log out  and log in    -->
  <% if student_signed_in? %>
      <li>
        <%= link_to('Logout', destroy_student_session_path, :method => :delete) %>
      </li>
  <% else %>
      <li>
        <%= link_to('Login', root_path)  %>
      </li>
  <% end %>
  <!--end log out and log in   -->
</ul>
<!--end sideNav -->

  <div class="container">
    <div id="card-stats">
      <div class="row">
        <div class="col s6 m6 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="<%= asset_path 'office.jpg' %>"  >
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Book 1<i class="material-icons right">more_vert</i></span>
              <p><a href="#">link book </a></p>
            </div>
            <div class="card-reveal">

              <ul class="collection">
                <li class="collection-item avatar">
                  <img src="<%= asset_path 'yuna.jpg' %>"  >                  <span class="title">Title</span>
                  <p>First Line <br>
                    Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle">folder</i>
                  <span class="title">Title</span>
                  <p>First Line <br>
                    Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle green">insert_chart</i>
                  <span class="title">Title</span>
                  <p>First Line <br>
                    Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle red">play_arrow</i>
                  <span class="title">Title</span>
                  <p>First Line <br>
                    Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
              </ul>

            </div>
          </div>
        </div>
        <div class="col s6 m6 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="<%= asset_path 'office.jpg' %>"  >
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Book 1<i class="material-icons right">more_vert</i></span>
              <p><a href="#">link book </a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Content<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s6 m6 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="<%= asset_path 'office.jpg' %>"  >
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Book 1<i class="material-icons right">more_vert</i></span>
              <p><a href="#">link book </a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Content<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s6 m6 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="<%= asset_path 'office.jpg' %>"  >
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Book 1<i class="material-icons right">more_vert</i></span>
              <p><a href="#">link book </a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Content<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s6 m6 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="<%= asset_path 'office.jpg' %>"  >
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Book 1<i class="material-icons right">more_vert</i></span>
              <p><a href="#">link book </a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Content<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s6 m6 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="<%= asset_path 'office.jpg' %>"  >
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Book 1<i class="material-icons right">more_vert</i></span>
              <p><a href="#">link book </a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Content<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s6 m6 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="<%= asset_path 'office.jpg' %>"  >
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Book 1<i class="material-icons right">more_vert</i></span>
              <p><a href="#">link book </a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Content<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s6 m6 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="<%= asset_path 'office.jpg' %>"  >
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Book 1<i class="material-icons right">more_vert</i></span>
              <p><a href="#">link book </a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Content<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s6 m6 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="<%= asset_path 'office.jpg' %>"  >
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Book 1<i class="material-icons right">more_vert</i></span>
              <p><a href="#">link book </a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Content<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>




</div>