<!--codigo devise-->
<!--
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :user_name %><br />
      <%= f.text_field :user_name %>
    </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "students/shared/links" %>

-->
<!--end codigo devise-->

<script type="text/javascript">
    $(document).ready(function(){
        $('.bxslider').bxSlider({
            adaptiveHeight:false,
            auto: true,
        });
    });
</script>

<div id="basic-form" class="section">
  <div class="row">
    <div class="col s12 m12 l6">
      <ul class="bxslider">
        <li>
          <div align="center"> <%=  image_tag('i1.jpg') %>   </div>
        </li>
        <li>
          <div align="center"> <%=image_tag('i2.jpg') %> </div>
        </li>
        <li>
          <div align="center"> <%=image_tag('i3.png') %> </div>
        </li>

        <li>
          <div align="center"> <%=image_tag('girls.png') %> </div>
        </li>
        <li>
          <div align="center"> <%=image_tag('girls.png') %> </div>
        </li>
      </ul>
    </div>
    <div class="col s12 m12 l6">
      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 0px 48px 0px 48px; border: 1px solid #EEE;">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="row">
              <div class="input-field col s12 center">
                <img src=" <%= asset_path 'sidet.png' %> " >
              </div>
            </div>
            <div class='row'>
              <div class='input-field col s12'>
                <i class="material-icons prefix">account_circle</i>
                <%= f.text_field :user_name %>
                <%= f.label :user_name %>
                </div>
            </div>
            <div class='row'>
              <div class="input-field col s12">
                <i class="material-icons prefix">vpn_key</i>
                <%= f.password_field :password, autocomplete: "off" %>
                <%= f.label :password %>
              </div>
              <label style='float: right;'>
                <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
              </label>
            </div>
            <div class="row">
              <%= f.submit "Log in" ,class:'col s12 btn btn-large waves-effect indigo'%>
            </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>
</div>



