
<div class="container">
  <div id="rowCenter" class="row">
    <div class="col s12 m7 l8 hide-on-small-and-down"  >
      <div class="z-depth-1 grey lighten-4" style=" background:#7cb342;border: 1px solid #EEE">
        <div id="slider" class="slider">
          <ul class="slides">
            <li>
              <img src="<%= asset_path 'teacher.jpg'%>" >
              <div class="caption center-align">
                <h3>learn inglish now!</h3>
                <h5 class="light grey-text text-lighten-3">Qallta developer .</h5>
              </div>
            </li>
            <li>
              <img src="<%= asset_path 'children.jpg'%>" >
              <div class="caption left-align">
                <h3>APROVECHA EL DESCUENTO</h3>
                <h5 class="light grey-text text-lighten-3">Qallta abc english.</h5>
              </div>
            </li>
            <li>
              <img src="<%= asset_path 'girls.png'%>">
              <div class="caption center-align">
                <h3>This is your opportunity to learn</h3>
                <h5 class="light grey-text text-lighten-3">Qallta abc english</h5>
              </div>
            </li>
            <li>
              <img src="<%= asset_path 'english.png'%>" >
              <div class="caption right-align">
                <h3>Register now with a discount of 50%</h3>
                <h5 class="light grey-text text-lighten-3">Qallta abc english.</h5>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m5 l4 " >
      <div style=" background: #7cb342 " >
        <div id="form-login" class="z-depth-1 grey lighten-4 " style="padding: 0px 38px 0px 38px; border: 1px solid #EEE;">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="row">
                <div class=" center-align input-field col s12">
                  <img class=" " src=" <%= asset_path 'ABC.png' %> " >
                </div>
              </div>
              <div class='row'>
                <div class='input-field col s12'>
                  <i class="material-icons prefix">account_circle</i>
                  <%= f.text_field :user_name %>
                  <%= f.label :user_name %>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">vpn_key</i>
                  <%= f.password_field :password, autocomplete: "off" %>
                  <%= f.label :password %>
              </div>
                <label style='float: left; margin-left: 20px'>
                  <a class=' darken-1-text' onclick="Materialize.toast('go to adminastration', 900, 'rounded')"><b>Forgot Password?</b></a>
                </label>
              </div>
              <div class="row center">
                <%= f.submit "Log in" , class:' btn  waves-light ' %>
              </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>
</div>

