<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @student.user_name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @student.password %>
</p>

<p>
  <strong>Current page:</strong>
  <%= @student.current_page %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
