    <script type="text/javascript">
      $(document).ready(function(){
        $('.bxslider').bxSlider({
        auto: true,
        });
      });
    </script>
    
    
    <div class="col-md-6">
          <ul class="bxslider">
              <li> 
                <div align="center"> <%= link_to image_tag('i1.jpg') %>   </div>  
              </li>
              <li> 
                <div align="center"> <%= link_to image_tag('i2.jpg') %> </div>  
              </li>
              <li> 
                <div align="center"> <%= link_to image_tag('i3.png') %> </div> 
              </li>
              <li> 
                <div align="center"> <%= link_to image_tag('girls.png') %> </div> 
              </li>
              <li> 
                <div align="center"> <%= image_tag('girls.png') %> </div> 
              </li> 
          </ul>
    </div>







