<h1>Login#index</h1>
<p>Find me in app/views/login/index.html.erb</p>
<script type="text/javascript">
	$(document).ready(function(){
	  $('.bxslider').bxSlider({
	  	adaptiveHeight: true,
	  	auto: true,
	  });
	});
 </script>

<ul class="bxslider">
  <li> 
  	<div align="center"> <%= link_to image_tag('i1.jpg') %>  	</div>  
  </li>
  <li> 
  	<div align="center"> <%= link_to image_tag('i2.jpg') %> </div>  
  </li>
  <li> 
  	<div align="center"> <%= link_to image_tag('i3.png') %> </div> 
  </li>
  <li> 
  	<div align="center"> <%= link_to image_tag('girls.png') %> </div> 
  </li>
  <li> 
  	<div align="center"> <%= image_tag('girls.png') %> </div> 
  </li> 
</ul>
