<style>
  .help {
    margin-left: 0px;
    margin-top: 0;
    font-size: 0.8em;
    color: #777;

  }

    .field div.error {
      position: relative;
      top: -1rem;
      font-size: 0.9rem;
      color: red;

    }

    label.active{
      margin-left: 5px;
    }
</style>

<script>
    $("#student_name").blur(function(){
        var cadena=$(this).val();
        cadena =deleteSpaceWhite(cadena);
        cadena= ucWords(cadena);
        $(this).val(cadena);
    });

    $("#student_last_name").blur(function(){
        var cadena=$(this).val();
        cadena =deleteSpaceWhite(cadena);
        cadena= ucWords(cadena);
        $(this).val(cadena);
    });
    /*---------------------personalitation gem jquey validations--------------------------------------------*/
    jQuery.validator.addMethod("lettersonlys", function(value, element) {
        return this.optional(element) || /^[a-zA-Z\s]*$/.test(value);
    }, "Letters only please");

    jQuery.validator.addMethod("alphanumeric", function(value, element) {
        return this.optional(element) || /^[a-zA-Z0-9_]+$/.test(value);
    }, "Letters and numers only please");

    jQuery.validator.addMethod("convertToUpperCase", function(value, element) {
        var upperCase= ucWords(value);
        switch (element.id){
            case "student_name":
                $("#student_name").val(upperCase);
                break;
            case 'student_last_name':
                $("#student_last_name").val(upperCase);
                break;
        }
        return true;
    }, "error uppercase");

    jQuery.validator.addMethod("deleteSpaceBeginEnd", function(value, element) {
        var cadena="";
        cadena=delSpaceBeginEnd(cadena);
        switch (element.id){
            case "student_name":
                $("#student_name").val(cadena);
                break;
            case 'student_last_name':
                $("#student_last_name").val(cadena);
                break;
        }
        return true;
    }, "error deleteSpaceBeginEnd");


    $("#edit_student").validate({
        rules: {
            "student[name]": {
                maxlength:19+1,
                required: true,
                lettersonlys:true,
                //Uppercase

            },
            "student[last_name]":{
                maxlength:19+1,
                required: true,
                lettersonlys:true,
                //Uppercase

            },
            "student[phone]": {
                digits:true,
                required: true,
                maxlength:8,
                min:60000000,
                max:79999999
            },

            "student[address]": {
                maxlength: 50,
                required: true
            },

            "student[user_name]": {
                alphanumeric: true,
                required: true,
                minlength: 5
            },

            "student[email]": {
                required: true,
                email: true
            },

            "student[facebook]": {
                required: true,
                minlength: 5
            },
            "student[skype]": {
                required: true,
                minlength: 5
            },
        },
        //For custom messages
        messages: {
            "student[phone]":{
                required: "Enter a numer phone please",
                min: "This number is not valid",
                max: "This number is not valid"
            },
            curl: "Enter your website",
        },
        errorElement : 'div',
        errorPlacement: function(error, element) {
            var placement = $(element).data('error');
            if (placement) {
                $(placement).append(error)
            } else {
                error.insertAfter(element);
            }
        }
    });


    $(document).click(function(){
        $('input[type="submit"]').removeAttr('disabled');
    });

    $(document).mouseover(function(){
        $('input[type="submit"]').removeAttr('disabled');

    });



    $(document).ready(function(){
        var message= $('#error_explanation li').text();
        $('#error_explanation').css('display','none');
        if (message.substr(0,1)=='C'){
            Materialize.toast(message,'5000','red');
        }
    });
</script>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%=devise_error_messages! %>
    <div class="col">
      <!-- Form with placeholder -->
      <div class="col s12 m12 l6  "  style="margin-top: 3% ; margin-left: 20%; margin-right: 20% "  >
        <div class="card-panel z-depth-1 grey lighten-4 "  >
          <div class="row">
            <div class="center col s2 offset-s5">
              <label class="file-field ">
                <img id="image" src=" <%= current_student.get_base64_image %> " alt="" class="circle responsive-img border1"> <!-- notice the "circle" class -->
                <span>profile</span>
                <%= f.file_field :image , class:"active validate",onchange:"document.getElementById('image').src = window.URL.createObjectURL(this.files[0])"%>
              </label>
            </div>
          </div>
          <div class="row">
            <h4 class="center header2">Profile</h4>
          </div>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="field  col s12 m6 l6">
                  <i class="material-icons prefix">person</i>
                  <%= f.label :name %>
                  <%= f.text_field :name %>
                  <p id="paragraph_name" class="help"></p>
                </div>
                <div class="field  col s12 m6 l6">
                  <i class="material-icons prefix">supervisor_account</i>
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name%>
                  <p id="paragraph_last_name" class="help"></p>
                </div>
              </div>
              <div class="row">
                <div class="field col s12 m6 l6">
                  <i class="material-icons prefix">phone</i>
                  <%= f.label :phone %>
                  <%= f.text_field :phone %>
                  <p id="paragraph_phone" class="help"></p>
                </div>
                <div class="field col s12 m6 l6">
                  <i class="material-icons prefix">home</i>
                  <%= f.label :address %>
                  <%= f.text_field :address %>
                  <p id="paragraph_address" class="help"></p>
                </div>
              </div>
              <div class="row">
                <div class="field  col s12 m6 l6">
                  <i class="material-icons prefix">account_circle</i>
                  <%= f.label :user_name %>
                  <%= f.text_field :user_name %>
                  <p id="paragraph_user_name" class="help"></p>
                </div>
                <div class="field col s12 m6 l6">
                  <i class="material-icons prefix">email</i>
                  <%= f.label :email%>
                  <%= f.email_field :email %>
                  <p id="paragraph_email" class="help"></p>
                </div>
              </div>
              <div class="row">
                <div class="field col s12 m6 l6">
                  <i class="material-icons prefix">photo_library</i>
                  <%= f.label :facebook ,class:'active' %>
                  <%= f.text_field :facebook ,value:'Https://www.facebook.com/',placeholder: 'Https://www.facebook.com/' %>
                  <p id="paragraph_name" class="help"></p>
                </div>
                <div class="field col s12 m6 l6">
                  <i class="material-icons prefix">chat</i>
                  <%= f.label :skype %>
                  <%= f.text_field :skype  %>
                  <p id="paragraph_name" class="help"></p>
                </div>
              </div>
              <div class="row">
                <div class="field">
                  <i class="material-icons prefix">lock</i>
                  <%= f.label :current_password %>
                  <%= f.password_field :current_password, autocomplete: "off" %>
                </div>
              </div>
              <div class="row">
                <div class="field col s12 m6 l6 quit-margen-botton">
                  <i class="material-icons prefix">lock_outline</i>
                  <%= f.label :password ,placeholder:'Password (6 characters minimun)'%>
                  <%= f.password_field :password %>
                  <p id="paragraph_password" class="help"></p>
                </div>
                <div class="field col col s12 m6 l6">
                  <i class="material-icons prefix">lock</i>
                  <%= f.label :password_confirmation,placeholder:'Password_Confirmation' %>
                  <%= f.password_field :password_confirmation %>
                  <p id="paragraph_password_confirmation" class="help"></p>
                </div>
              </div>
              <div class="row ">
                <div class="field  center-align">
                  <%= link_to 'Cancel' , root_path , class:"waves-effect waves-light btn" %>
                  <%= f.submit "Save", class:'btn  waves-light'%>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

<% end %>
