
<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :onsubmit => 'return validaciones();' } ) do |f| %>
      <%= devise_error_messages! %>
    <!--Template of demo dashboar-->
    <div class="col">
      <!-- Form with placeholder -->
      <div class="col s12 m12 l6 "  style="margin: 10%"  >
        <div class="card-panel"  >
          <h4 class="header2">Register Student</h4>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field  col s6  ">
                  <%= f.text_field :name,placeholder:'Name',autofocus: true ,class: "active validate", style: "margin-bottom: 0px"%>
                  <p id="paragraph_name" class="help"></p>
                </div>
                <div class="input-field  col s6 ">
                  <%= f.text_field :last_name , placeholder:'Last Name',autofocus: true  ,class:"active validate", style: "margin-bottom: 0px"%>
                  <p id="paragraph_last_name" class="help"></p>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <%= f.text_field :phone,placeholder:'Phone',autofocus: true, class:"active validate",  style: "margin-bottom: 0px" %>
                  <p id="paragraph_phone" class="help"></p>
                </div>
                <div class="input-field col s6">
                  <%= f.text_field :address, placeholder:'Address',autofocus: true, class:"active validate",  style: "margin-bottom: 0px" %>
                  <p id="paragraph_address" class="help"></p>

                </div>
              </div>
              <div class="row">
                <div class="input-field  col s6 ">
                  <%= f.text_field :user_name , placeholder:'Username',class:"active validate", style: "margin-bottom: 0px"%>
                  <p id="paragraph_user_name" class="help"></p>
                </div>
                <div class="input-field col s6">
                  <%= f.email_field :email, placeholder:'Email',autofocus: true, class:"active validate",  style: "margin-bottom: 0px" %>
                  <p id="paragraph_email" class="help"></p>
                </div>
              </div>
              <!-- input file cargar imagen
              <div class="row">
                <div class="input-field col s12">
                  <%= f.label :image %><br />
                  <%= f.file_field :image %><br />
                </div>
              </div>
              -->
              <div class="row">
                <div class="file-field input-field col s3">
                  <div class="btn">
                    <i class="material-icons">add_a_photo</i>
                    <span>image</span>
                    <%= f.file_field :image , class:"active validate"%>
                  </div>
                  <!--<div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>-->
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6 quit-margen-botton">
                  <%= f.password_field :password,placeholder:'Password (6 characters minimun)', autocomplete: "off" ,class:"active validate",  style: "margin-bottom: 0px"%>
                  <p id="paragraph_password" class="help"></p>
                </div>
                <div class="input-field col s6">
                  <%= f.password_field :password_confirmation, placeholder:'Password_Confirmation',autocomplete: "off",class:"active validate",  style: "margin-bottom: 0px" %>
                  <p id="paragraph_password_confirmation" class="help"></p>
                </div>
              </div>
                <div class="row">
                  <i class="material-icons">person_add</i>
                    <%= f.submit "Sign up" %>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
<% end %>
</div>

<%= render "students/shared/links" %>

