<!-- formulario generado por el devise y modificado x gaspar
<h2>Sign up</h2>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
 <form class="col s12">
   <div class="row">
    <div class="file-field ">
     <i class="material-icons">face</i>
     <%= f.label :image %><br />
     <%= f.file_field :image %><br />
    </div>
   </div>
   <div class="row">
     <div class="input-field col s6">
       <i class="material-icons ">account_circle</i>
       <%= f.label :name %><br />
       <%= f.text_field :name %><br />
     </div>

     <div class="input-field col s6">
       <%= f.label :last_name %><br />
       <%= f.text_field :last_name %>
     </div>
   </div>


   <div class="input-field">
     <%= f.label :user_name %><br />
     <%= f.text_field :user_name %>
   </div>

   <div class="field">
     <i class="material-icons">contact_mail</i>
     <%= f.label :email %><br />
     <%= f.email_field :email, autofocus: true %>
   </div>

   <div class="field">
     <i class="material-icons">lock</i>
     <%= f.label :password %>
     <% if @minimum_password_length %>
         <em>(<%= @minimum_password_length %> characters minimum)</em>
     <% end %><br />
     <%= f.password_field :password, autocomplete: "off" %>
   </div>

   <div class="field">
     <i class="material-icons">lock</i>
     <%= f.label :password_confirmation %><br />
     <%= f.password_field :password_confirmation, autocomplete: "off" %>
   </div>

   <div class="actions btn waves-effect waves-light">
     <i class="material-icons right">send</i>
     <%= f.submit "Sign up" %>
   </div>
 </form>
<% end %>
<%= render "students/shared/links" %>
 en formulario generado por devise -->
<script type="text/javascript">

  function validacion() {
      return false
  };

  function validaciones(){
      var aux=true
      //obteniendo y validando el nombre
      var inputName=document.getElementById("student_name");
      var messageError1="su nombre es muy corto";
      var messageError2="solo se permite letras";
      if (inputName.value.length<3){
          alert(messageError1);
          aux= false
      }
      if ( !isNaN(inputName.value)){
          alert(messageError2+" "+"no se permite numeros en el nombre");
          aux= false
      }


    //obteniendo y validando el apellido
      var inputLastName=document.getElementById("student_last_name");
      var messageError3="su apellido es muy corto";
      var messageError4="solo se permite letras";
      if (inputLastName.value.length<3){
          alert(messageError3);
      }
      if(isNaN(inputLastName.value)){
          alert(messageError4)
      }

      //obteniendo y validando el telefono
      var inputPhone=document.getElementById("student_phone");
      var messageError1="solo se permite numeros";
      var messageError2="numero no valido";
      if (inputPhone.value.length<3){
          alert("solo se permite lestras y num validos");
      }

      //obteniendo y validando el nombre de usuario
      var inputUserName=document.getElementById("student_user_name");
      var messageError1="su usuario ya existe";
      var messageError2="solo se permite letras";
      if (inputUserName.value.length<3){
          alert("su usuario ya existe");
      }

       //confirmando que password sean iguales
      var inputPassword=document.getElementById("student_password");
      var inputPasswordConfirmation=document.getElementById("student_password_confirmation");
      var messageError1="su password debe contener mas caracteres";
      if (inputPassword.value.length<3 && inputPasswordConfirmation.value.length<3  ){
          alert("sus contrasenia no son iguales o muy cortas");
      }

      return aux

  };

</script>


<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :onsubmit => 'return validaciones();' } ) do |f| %>
      <%= devise_error_messages! %>
    <!--Template of demo dashboar-->
    <div class="col">
      <!-- Form with placeholder -->
      <div class="col s12 m12 l6 "  style="margin: 10%"  >
        <div class="card-panel"  >
          <h4 class="header2">Register Student</h4>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field  col s6 ">

                  <%= f.text_field :name,placeholder:'Name',autofocus: true ,class:"active validate"%>
                </div>
                <div class="input-field  col s6 ">
                  <%= f.text_field :last_name , placeholder:'Last Name',autofocus: true  ,class:"active validate"%>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">

                  <%= f.text_field :phone,placeholder:'Phone',autofocus: true, class:"active validate" %>
                </div>
                <div class="input-field col s6">
                  <%= f.text_field :address, placeholder:'Address',autofocus: true, class:"active validate" %>
                </div>
              </div>
              <div class="row">
                <div class="input-field  col s6 ">
                  <%= f.text_field :user_name , placeholder:'Username',class:"active validate"%>
                </div>
                <div class="input-field col s6">

                  <%= f.email_field :email, placeholder:'Email',autofocus: true, class:"active validate" %>
                </div>
              </div>
              <!-- input file cargar imagen
              <div class="row">
                <div class="input-field col s12">
                  <%= f.label :image %><br />
                  <%= f.file_field :image %><br />
                </div>
              </div>
              -->
              <div class="row">
                <div class="file-field input-field col s3">
                  <div class="btn">
                    <i class="material-icons">add_a_photo</i>
                    <span>image</span>
                    <%= f.file_field :image , class:"active validate"%>
                  </div>
                  <!--<div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>-->
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <%= f.password_field :password,placeholder:'Password (6 characters minimun)', autocomplete: "off" ,class:"active validate"%>
                </div>
                <div class="input-field col s6">

                  <%= f.password_field :password_confirmation, placeholder:'Password_Confirmation',autocomplete: "off",class:"active validate" %>
                </div>
              </div>
                <div class="row">
                  <div class="actions btn waves-effect waves-light">
                    <i class="material-icons">person_add</i>
                    <%= f.submit "Sign up" , onsubmit:"return validacion()"%>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <button onclick="validaciones()">Click me</button>
</div>

<%= render "students/shared/links" %>
<style type="text/css">
  *{
    margin: 0;
    padding: 0;
  }

  html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }
  .header {
    width: 100%;
    height: 100px;
    background-color: #232F3E;
    display: inline-block;
  }
  .container{
    background-color:  whitesmoke;
  }
    .row{
      background-color:ghostwhite;
    }

  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
    background-color: white;
    border-radius:4px;
    border:1px solid #1a237e;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 2px solid #000;
    box-shadow: 0 1px 0 0 #000;
    border: 2px solid #A8A8A8;
    background-color: #E9E9E9;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }

</style>

