
<style type="text/css">

  .help {
    margin-left: 0px;
    margin-top: 0;
    font-size: 0.8em;
    color: #777;

  }
  .quit-margen2-botton2{
    margin-bottom: 0px;
    margin-bottom: 0;
  }
</style>



<script type="text/javascript">

    $(document).mouseover(function(){
        $('input[type="submit"]').removeAttr('disabled');

    });

  function functionx(){
      if(document.getElementsByName("commit").disabled == true){ //here
          alert("disabled");
      }else{
          alert("enable");
      }
  }
  function existNumer(valorString) {
        var i=0;
        while ( (valorString.indexOf(i) < 0) && (i<9) ){
            i++;
        }

        if ( (valorString.indexOf(i)) >= (0) ){
            return true;
        }else{
            return false;
        }
    }

  function fieldEmpty(valorString){
      if( valorString == null || valorString.length == 0 || /^\s+$/.test(valorString) ) {
          return true;
      }
  }

  function validateEmail(valorString) {
      if( !(/\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)/.test(valorString)) ) {
          return false;
      }else{
          return true;
      }
  }


  function validaciones(){
      
      var aux=true;
      //obteniendo y validando el nombre
      var inputName=document.getElementById("student_name");
      var paragraphName=document.getElementById("paragraph_name");
      var messageError1="su nombre es muy corto";
      var messageError2="solo se permite letras";
      if (fieldEmpty(inputName.value)){
          paragraphName.innerHTML="debe llenar este campo";
          paragraphName.style.color="red";
          inputName.value="";
          aux= false;
      }else if (existNumer(inputName.value)){
          paragraphName.innerHTML="no se aceptan numeros";
          paragraphName.style.color="red";
          inputName.value="";
          aux= false;
      }else if (inputName.value.length<3 ){
          paragraphName.innerHTML=messageError1;
          paragraphName.style.color="red";
          inputName.value="";
          aux= false;
      }else if ( !isNaN(inputName.value)){
          paragraphName.innerHTML=messageError2;
          paragraphName.style.color="red";
          inputName.value="";
          aux= false;
      }


    //obteniendo y validando el apellido
      var inputLastName=document.getElementById("student_last_name");
      var paragraphLastName=document.getElementById("paragraph_last_name");
      var messageError3="su apellido es muy corto";
      var messageError4="solo se permite letras";
      if (fieldEmpty(inputLastName.value)){
          paragraphLastName.innerHTML="debe llenar este campo";
          paragraphLastName.style.color="red";
          inputLastName.value="";
          aux= false;
      }else if (inputLastName.value.length<3){
          paragraphLastName.innerHTML=messageError3;
          paragraphLastName.style.color="red";
          inputLastName.value="";
          aux= false;
      }else if(!isNaN(inputLastName.value)){
          paragraphLastName.innerHTML=messageError4;
          paragraphLastName.style.color="red";
          inputLastName.value="";
          aux= false;
      }

      //obteniendo y validando el telefono
      var inputPhone=document.getElementById("student_phone");
      var paragraphPhone=document.getElementById("paragraph_phone");
      var messageError5="solo se permite numeros";
      var messageError6="numero no valido";
      if (fieldEmpty(inputPhone.value)) {
          paragraphPhone.innerHTML = "debe llenar este campo";
          paragraphPhone.style.color = "red";
          inputPhone.value = "";
          aux = false;
      }else if (isNaN(inputPhone.value) ){
          paragraphPhone.innerHTML=messageError5;
          paragraphPhone.style.color="red";
          inputPhone.value="";
          aux= false;
      }else if (inputPhone.value.length>8 ||
          inputPhone.value.length<8 ||
          inputPhone.value.charAt(0)<6 ||
          inputPhone.value.charAt(0)>7){
          paragraphPhone.innerHTML=messageError6;
          paragraphPhone.style.color="red";
          inputPhone.value="";
          aux= false;
      }


      //obteniendo y validando la direccion
      var inputAdress=document.getElementById("student_address");
      var paragraphAdress=document.getElementById("paragraph_address");
      var messageErrorAdress1="debe llenar este campo";
      if (fieldEmpty(inputAdress.value)) {
          paragraphAdress.innerHTML = messageErrorAdress1;
          paragraphAdress.style.color = "red";
          inputAdress.value = "";
          aux = false;
      }


      //obteniendo y validando el nombre de usuario
      var inputUserName=document.getElementById("student_user_name");
      var paragraphUserName=document.getElementById("paragraph_user_name");
      var messageError7="su usuario ya existe";
      var messageError8="solo se permite letras";
      if (fieldEmpty(inputUserName.value)){
          paragraphUserName.innerHTML="debe llenar este campo";
          paragraphUserName.style.color="red";
          inputUserName.value="";
          aux= false;
      }else if ( !isNaN(inputUserName.value) ){
          paragraphUserName.innerHTML=messageError8;
          paragraphUserName.style.color="red";
          paragraphUserName.value="";
          aux= false;
      }



      //validando correo
      var inputEmail=document.getElementById("student_email");
      var paragraphEmail=document.getElementById("paragraph_email");
      var messageErrorEmail="Email no valido";
      if (fieldEmpty(inputEmail.value)){
          paragraphEmail.innerHTML="debe llenar este campo";
          paragraphEmail.style.color="red";
          inputEmail.value="";
          aux= false;
      }else if ( validateEmail(inputEmail.value) ){
          paragraphEmail.innerHTML=messageErrorEmail;
          paragraphEmail.style.color="red";
          inputEmail.value="";
          aux= false;
      }

       //confirmando que password sean iguales
      var inputPassword=document.getElementById("student_password");
      var paragraphPassword=document.getElementById("paragraph_password");

      var inputPasswordConfirmation=document.getElementById("student_password_confirmation");
      var paragraphPasswordConfirmation=document.getElementById("paragraph_password_confirmation");

      var messageError9="su password debe contener mas de 5 caracteres";
      var messageError10="las password no son iguales";

      if (fieldEmpty(inputPassword.value)) {
          paragraphPassword.innerHTML = "debe llenar este campo";
          paragraphPassword.style.color = "red";
          inputPassword.value = "";
          aux = false;
      }else if (inputPassword.value.length<3 || inputPasswordConfirmation.value.length<3  ){
          paragraphPassword.innerHTML=messageError9;
          paragraphPassword.style.color="red";
          inputPassword.value="";
          inputPasswordConfirmation.value="";
          aux = false;
      } else if ( inputPassword.value != inputPasswordConfirmation.value  ){
          paragraphPasswordConfirmation.innerHTML=messageError10;
          paragraphPasswordConfirmation.style.color="red";
          inputPassword.value="";
          inputPasswordConfirmation.value="";
          aux = false;
      }


      if (fieldEmpty(inputPasswordConfirmation.value)) {
          paragraphPasswordConfirmation.innerHTML = "debe llenar este campo";
          paragraphPasswordConfirmation.style.color = "red";
          inputPasswordConfirmation.value = "";
          aux = false;
      }



      return aux

  };

</script>


<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :onsubmit => 'return validaciones();' } ) do |f| %>
      <%= devise_error_messages! %>
    <!--Template of demo dashboar-->
    <div class="col">
      <!-- Form with placeholder -->
      <div class="col s12 m12 l6 "  style="margin: 10%"  >
        <div class="card-panel"  >
          <h4 class="header2">Register Student</h4>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field  col s6  ">
                  <%= f.text_field :name,placeholder:'Name',autofocus: true ,class: "active validate", style: "margin-bottom: 0px"%>
                  <p id="paragraph_name" class="help"></p>
                </div>
                <div class="input-field  col s6 ">
                  <%= f.text_field :last_name , placeholder:'Last Name',autofocus: true  ,class:"active validate", style: "margin-bottom: 0px"%>
                  <p id="paragraph_last_name" class="help"></p>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <%= f.text_field :phone,placeholder:'Phone',autofocus: true, class:"active validate",  style: "margin-bottom: 0px" %>
                  <p id="paragraph_phone" class="help"></p>
                </div>
                <div class="input-field col s6">
                  <%= f.text_field :address, placeholder:'Address',autofocus: true, class:"active validate",  style: "margin-bottom: 0px" %>
                  <p id="paragraph_address" class="help"></p>

                </div>
              </div>
              <div class="row">
                <div class="input-field  col s6 ">
                  <%= f.text_field :user_name , placeholder:'Username',class:"active validate", style: "margin-bottom: 0px"%>
                  <p id="paragraph_user_name" class="help"></p>
                </div>
                <div class="input-field col s6">
                  <%= f.email_field :email, placeholder:'Email',autofocus: true, class:"active validate",  style: "margin-bottom: 0px" %>
                  <p id="paragraph_email" class="help"></p>
                </div>
              </div>
              <!-- input file cargar imagen
              <div class="row">
                <div class="input-field col s12">
                  <%= f.label :image %><br />
                  <%= f.file_field :image %><br />
                </div>
              </div>
              -->
              <div class="row">
                <div class="file-field input-field col s3">
                  <div class="btn">
                    <i class="material-icons">add_a_photo</i>
                    <span>image</span>
                    <%= f.file_field :image , class:"active validate"%>
                  </div>
                  <!--<div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>-->
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6 quit-margen-botton">
                  <%= f.password_field :password,placeholder:'Password (6 characters minimun)', autocomplete: "off" ,class:"active validate",  style: "margin-bottom: 0px"%>
                  <p id="paragraph_password" class="help"></p>
                </div>
                <div class="input-field col s6">
                  <%= f.password_field :password_confirmation, placeholder:'Password_Confirmation',autocomplete: "off",class:"active validate",  style: "margin-bottom: 0px" %>
                  <p id="paragraph_password_confirmation" class="help"></p>
                </div>
              </div>
                <div class="row">
                  <i class="material-icons">person_add</i>
                    <%= f.submit "Sign up" %>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
<% end %>
</div>

<%= render "students/shared/links" %>

